@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Global Variables */
:root{
  --color-primary: #c458f5;
  --color-primary-opacity: #c66ef0;
  --color-white: #fff;
  --color-black: #000;
  --color-dark: #242424;
  --color-background: #fff;
  --color-border-line: #E2E6EA;
  --color-button-backgroud: #fafefd;
  --color-background-footer: var(--footer-gradiente);
  --card-border-radius: 8px;
  --color-light: rgba(132, 139, 200, 0.1);
  --box-shadow: 0 0.5rem 1rem var(--color-light);
  --line-box-shadow: 0 0.8rem 2rem var(--color-dark);
  --box-shadow-hover: 0 0rem 1.5rem var(--color-light);

  /* Gradiente Colors */
  --color-text-black: #000;
  --color-text-white: #fff;
  --color-text-black-light: #666666;
  --color-text-dark-light: #8F8F8F;
  --color-text-dark-medium: #6D6D6D;
  --text-gradient-dark: linear-gradient(-85deg, var(--color-text-black), var(--color-text-black-light));
  --text-gradient-dark-light: linear-gradient(-90deg, var(--color-text-dark-light), var(--color-text-dark-medium));

  --color-text-title-primary: #BF59ED;
  --color-text-title-secondary: #BF59ED;
  --title-gradiente: linear-gradient(0deg, var(--color-text-title-primary), var(--color-text-title-secondary));

  --color-background-footer-primary: #F2F3FF;
  --color-background-footer-secondary: #CCCDD7; 
  --footer-gradiente: linear-gradient(98deg, var(--color-background-footer-primary), var(--color-background-footer-secondary));
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-text-black);
    box-sizing: border-box;
}

body{ background: var(--color-background); }

main{
    display: flex;
    flex-direction: column;
    padding: 60px 20%;
}

.map{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.map .frame{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 500px;
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  transition: all 1s ease;
  cursor: pointer;
}

.map:hover .frame{
  width: 1100px;
}

.information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information h2{
  font-size: 28px;
  font-weight: 400;
  color: var(--color-text-black);
  margin-bottom: 20px;
}

.information h3{
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text-dark-light);
  text-align: center;
}

.information .content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 200px;
  margin-top: 50px;
}

.information .content .field{
  display: flex;
  flex-direction: column;
}

.information .content .field .sup{
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.information .content .field .sup h4{
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text-black);
}

.information .content .field .low{
  display: flex;
  flex-direction: row;
  align-items: end;
  bottom: 0;
  gap: 15px;
}

.information .content .field .low img{
  width: 28px;
  height: 28px;
  transform: rotate(90deg);
  margin-top: 5px;
}

.information .content .field .low p{
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text-black);
}

/* Form */
.form{
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h2{
  font-size: 18px;
  font-weight: 400;
  color: var(--color-text-black);
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  border: 0;
  outline: 0;
  margin-top: 60px;
}

.content .name{
  display: flex;
  flex-direction: column;
}

.content .name h3{
  font-size: 20px;
  font-weight: 500;
  color: var(--color-text-black);
  margin-bottom: 5px;
}

.content .name h4{
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-text-dark-light);
  margin-bottom: 20px;
}

.content .division{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.content .field p{
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text-black);
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  max-width: 100%;
  max-height: 100%;
  top: 20px;
  width: 450px;
  height: 50px;
  border: 1px solid var(--color-border-line);
  background: var(--color-background);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  box-sizing: border-box;
  padding-inline-start: 10px;
}

textarea {
  max-width: 100%;
  max-height: 200px;
  min-height: 50px;
  width: 950px;
  border: 1px solid var(--color-border-line);
  background: var(--color-background);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  line-height: 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-inline-start: 10px;
  resize: vertical;
}

.form .btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 950px;
  height: 50px;
  margin-top: 40px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background: var(--color-primary);
  margin-bottom: 200px;
  transition: width 1s ease, background 1s ease;
}

.form a{ 
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text-white);
  text-decoration: none;
}

.form .btn:hover{
  width: 500px;
  background: var(--color-primary-opacity);
}