@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Global Variables */
:root{
    --color-primary: #c458f5;
    --color-white: #fff;
    --color-black: #000;
    --color-dark: #242424;
    --color-background: #fff;
    --color-background-secondary: #f4f4f4;
    --color-background-footer: var(--footer-gradiente);
    --card-border-radius: 8px;
    --color-light: rgba(132, 139, 200, 0.18);
    --box-shadow: 0 0.5rem 1rem var(--color-light);
    --box-shadow-hover: 0 0rem 1.5rem var(--color-light);
  
    /* Gradiente Colors */
    --color-text-black: #000;
    --color-text-white: #fff;
    --color-text-black-light: #666666;
    --color-text-dark-light: #8F8F8F;
    --color-text-dark-medium: #6D6D6D;
    --text-gradient-dark: linear-gradient(-85deg, var(--color-text-black), var(--color-text-black-light));
    --text-gradient-dark-light: linear-gradient(-90deg, var(--color-text-dark-light), var(--color-text-dark-medium));
  
    --color-text-title-primary: #BF59ED;
    --color-text-title-secondary: #BF59ED;
    --title-gradiente: linear-gradient(0deg, var(--color-text-title-primary), var(--color-text-title-secondary));
  
    --color-background-footer-primary: #F2F3FF;
    --color-background-footer-secondary: #CCCDD7; 
    --footer-gradiente: linear-gradient(98deg, var(--color-background-footer-primary), var(--color-background-footer-secondary));
}