@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Global Variables */
:root{
    --color-primary: #c458f5;
    --color-white: #fff;
    --color-black: #000;
    --color-dark: #242424;
    --color-background: #fff;
    --color-background-secondary: #f4f4f4;
    --color-button-backgroud: #fafefd;
    --color-switch: #fff;
    --color-background-footer: var(--footer-gradiente);
    --card-border-radius: 8px;
    --color-light: rgba(132, 139, 200, 0.18);
    --box-shadow: 0 0.5rem 1rem var(--color-light);
    --box-shadow-hover: 0 0rem 1.5rem var(--color-light);
  
    /* Gradiente Colors */
    --color-text-black: #000;
    --color-text-white: #fff;
    --color-text-black-light: #666666;
    --color-text-dark-light: #8F8F8F;
    --color-text-dark-medium: #6D6D6D;
    --text-gradient-dark: linear-gradient(-85deg, var(--color-text-black), var(--color-text-black-light));
    --text-gradient-dark-light: linear-gradient(-90deg, var(--color-text-dark-light), var(--color-text-dark-medium));
  
    --color-text-title-primary: #BF59ED;
    --color-text-title-secondary: #BF59ED;
    --title-gradiente: linear-gradient(0deg, var(--color-text-title-primary), var(--color-text-title-secondary));
  
    --color-background-footer-primary: #F2F3FF;
    --color-background-footer-secondary: #CCCDD7; 
    --footer-gradiente: linear-gradient(98deg, var(--color-background-footer-primary), var(--color-background-footer-secondary));
}

/* Tema escuro */
body.dark-theme {
    --color-background: #121212;
    --color-background-secondary: #1e1e1e;
    --color-dark: #f4f4f4;
    --color-text: #fff;
    --color-text-black: #fff;
    --color-button-backgroud: #222222;
    --color-switch: #121212;

    --color-background-footer-primary: #222222;
    --color-background-footer-secondary: #1e1e1e; 
    --footer-gradiente: linear-gradient(98deg, var(--color-background-footer-primary), var(--color-background-footer-secondary));
}

/* Container geral do toggle */
.theme-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo do switch */
.toggle-switch {
    position: relative;
    width: 80px;
    height: 40px;
    background: var(--color-background-secondary);
    border-radius: 24px;
    cursor: pointer;
    transition: background 0.3s ease;
    overflow: hidden;
}

/* Ícones */
.toggle-switch i {
    position: absolute;
    font-size: 18px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2; /* Ícones sobre a esfera */
    transition: color 0.3s ease;
}

/* Ícone da lua (modo escuro) */
.toggle-switch .fa-moon {
    left: 10px;
    color: var(--color-dark); /* Cor do ícone no tema claro */
}

/* Ícone do sol (modo claro) */
.toggle-switch .fa-sun {
    right: 10px;
    color: var(--color-dark); /* Cor do ícone no tema claro */
}

/* Bola do switch */
.toggle-circle {
    position: absolute;
    width: 30px;
    height: 30px;
    background: var(--color-switch);
    border-radius: 50%;
    top: 5px;
    left: 2px;
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease, background 0.3s ease;
    z-index: 1; /* Bola sobre os ícones */
}

/* Dark Mode: fundo escuro e ícones brancos */
body.dark-theme .toggle-switch {
    background: var(--color-button-background); /* Fundo escuro do switch */
}

body.dark-theme .fa-moon {
    color: var(--color-dark); /* Ícone branco no modo escuro */
}

body.dark-theme .fa-sun {
    color: var(--color-dark); /* Ícone branco no modo escuro */
}

body.dark-theme .toggle-circle {
    transform: translateX(45px); /* Move a bola para a direita */
    background: var(--color-switch); /* Bola escura no modo escuro */
}

/* Tema claro: fundo branco visível e ícones pretos */
body .fa-moon {
    color: var(--color-dark); /* Ícone preto no modo claro */
}

body .fa-sun {
    color: var(--color-dark); /* Ícone preto no modo claro */
}

body .toggle-circle {
    transform: translateX(0); /* Move a bola para a esquerda no tema claro */
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-text-black);
    box-sizing: border-box;
}

body{ background: var(--color-background); }

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 3%;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    cursor: pointer;
}

.logo img{
    width: 35px;
    aspect-ratio: 1;
    transition: transform 1s ease;
}

.logo h2{
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: letter-spacing 1s ease;
}

.logo:hover img{
    transform: scale(0.9);
}
.logo:hover h2{
    letter-spacing: 1px;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0 80px;
}

.nav-links li a{
    color: linear-gradient(180deg, #000000, #666666);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    transition: color 1s ease, letter-spacing 1s ease;
}

.nav-links li a:hover{
    color: var(--color-primary);
    letter-spacing: 0px;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0 80px;
}

.nav-links li a{
    color: linear-gradient(180deg, #000000, #666666);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    transition: color 1s ease, letter-spacing 1s ease;
}

.nav-links li a:hover{
    color: var(--color-primary);
    letter-spacing: 0px;
}

/* Estilo do dropdown */
.nav-links .dropdown {
    position: relative;
  }
  
.nav-links .dropdown-menu {
    display: none;
    position: absolute;
    border: none;
    outline: none;
    top: 100%;
    left: 100px;
    background-color: var(--color-background);
    z-index: 1000;
}
  
.nav-links .dropdown-menu li {
    width: 320px;
    padding: 10px 20px;
}
  
.nav-links .dropdown-menu li a {
    color: var(--color-text-black);
    font-size: 14px;
    text-decoration: none;
    display: block;
    transition: color 1s ease, font-size 0.2s ease 0s;
}
  
.nav-links .dropdown-menu li a:hover {
    font-size: 15px;
    color: var(--color-primary);
}
  
.nav-links .dropdown:hover .dropdown-menu {
    display: block;
  }

header .account-link .account{
    padding: 15px 80px;
    background: var(--color-button-backgroud);
    color: var(--color-text-black);
    box-shadow: var(--box-shadow);
    border-color: var(--color-primary);
    border-radius: 24px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: box-shadow 1s ease, padding 1s ease, margin-right 1s ease;
}

header .account-link .account:hover{
    padding: 15px 50px;
    margin-right: 20px;
    box-shadow: var(--box-shadow-hover);
}

aside{
    position: fixed;
    align-items: center;
    padding: 30px 3%;
}

aside a{
    text-decoration: none;
}

aside h2{
    font-size: 12px;
    font-weight: 400;
    color: #8F8F8F;
    margin-bottom: 20px;
}

aside p{
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
}

.overview{
    display: flex;
    flex-direction: column;
}

.item{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 10px;
}

.item p{
    transition: color 1s ease, font-size 0.2s ease 0s;
}

.item .icon{
    color: var(--color-dark);
    font-size: 18px;
    transition: color 1s ease, font-size 0.2s ease 0s;
}

.geral{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.item:hover .icon{
    font-size: 20px;
    color: var(--color-primary);
}

.item:hover p{
    font-size: 20px;
    color: var(--color-primary);
}
  


/* Footer */
footer{
    padding: 50px 3%;
    background: var(--footer-gradiente);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

footer .upper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 400px;
}

footer .upper .left{
    display: flex;
    flex-direction: column;
}

footer .upper .left .footer-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    cursor: pointer;
}
footer .upper .left .footer-logo img{
    width: 35px;
    aspect-ratio: 1;
}
footer .upper .left .footer-logo h2{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

footer .upper .left .footer-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
footer .upper .left .footer-contact .item{
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 18px;
    color: #606060;
    transition: color 1s ease, font-size 0.1s ease;
}
footer .upper .left .footer-contact .item .icon{
    font-size: 18px;
    color: #606060;
    transition: color 1s ease, font-size 0.1s ease;
}

footer .upper .left .footer-contact .item:hover,
footer .upper .left .footer-contact .item:hover .icon{
    font-size: 20px;
    color: var(--color-primary);
}

footer .upper .right{
    padding: 0px 5%;
}
footer .upper .right .link{
    margin-left: 70px;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-text-black);
    text-decoration: none;
    transition: color 1s ease, font-size 0.1s ease;
}
footer .upper .right .link:hover{
    font-size: 20px;
    color: var(--color-primary);
}

footer hr{
    margin-top: 40px;
    color: #9D9D9D;
    margin-bottom: 20px;
}

footer .lower{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

footer .lower p{
    font-size: 14px;
    font-weight: 400;
}