/* Configurações básicas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-image: url('imagens/vacina-imunizacao.png');
    background-size: cover;
    background-position: center;
    color: #fff;
  }
  
  /* Cabeçalho */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
  }
  
  .navbar .brand {
    display: flex;
    align-items: center;
  }
  
  .navbar .brand .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .navbar .nav-links a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
  }
  
  .navbar .user-button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  /* Título Principal */
  .main-title {
    text-align: center;
    margin: 30px 0;
  }
  
  .main-title h1 {
    font-size: 36px;
    text-shadow: 2px 2px 5px #000;
  }
  
  /* Container Principal */
  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    
    border-radius: 10px;
  }
  
  /* Formulário */
  .form-container {
    flex: 2;
    margin-right: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Botões */
  .form-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .btn-submit {
    background-color: #6a0dad;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .btn-reset {
    background-color: #cc0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  
  /* Lista de Vacinas */
  .list-container {
    flex: 1;
  }
  
  .list-container textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Rodapé */
  .footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-links a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
  }
  