@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color-primary: #c458f5;
    --color-white: #fff;
    --color-black: #000;
    --color-dark: #242424;
    --color-background: #f5f5f5;
    --color-background-secondary: #fff;
    --color-background-footer: var(--footer-gradiente);
    --card-border-radius: 8px;
    --color-light: rgba(132, 139, 200, 0.18);
    --box-shadow: 0 0.5rem 1rem var(--color-light);
    --box-shadow-hover: 0 0rem 1.5rem var(--color-light);
  
    /* Gradiente Colors */
    --color-text-black: #000;
    --color-text-black-light: #666666;
    --color-text-dark-light: #8F8F8F;
    --color-text-dark-medium: #6D6D6D;
    --text-gradient-dark: linear-gradient(-85deg, var(--color-text-black), var(--color-text-black-light));
    --text-gradient-dark-light: linear-gradient(-90deg, var(--color-text-dark-light), var(--color-text-dark-medium));
  
    --color-text-title-primary: #BF59ED;
    --color-text-title-secondary: #BF59ED;
    --title-gradiente: linear-gradient(0deg, var(--color-text-title-primary), var(--color-text-title-secondary));
  
    --color-background-footer-primary: #F2F3FF;
    --color-background-footer-secondary: #CCCDD7; 
    --footer-gradiente: linear-gradient(98deg, var(--color-background-footer-primary), var(--color-background-footer-secondary));
}

*{
    margin: 2;
    padding: 2;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    text-align: center;
    
}
.logo {
    margin-bottom: 20px;
}
.logo img {
    width: 150px;
}
.welcome-text {
    color: #b36bff;
    font-size: 64px;
    font-weight: 500;
    margin-top: 80px;
}
.description {
    color: #666666;
    width: 600px;
    font-size: 18px;
    font-weight: 400px;
    margin-top: 50px;
    letter-spacing: 1;
}
.login-box {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 425px;
    margin: 0 auto;
    margin-top: 50px;
}
.login-box h2 {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: 700;
    color: #333333;
}
.login-box p {
    margin: 0 0 20px;
    color: #666666;
}
.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.login-box input[type="checkbox"] {
    margin-right: 10px;
}
.login-box label {
    color: #666666;
}
.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #b36bff;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}
.login-box button:hover {
    background-color: #a35bff;
}
  