@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Global Variables */
:root{
  --color-primary: #c458f5;
  --color-primary-opacity: #c66ef0;
  --color-white: #fff;
  --color-black: #000;
  --color-dark: #242424;
  --color-background: #fff;
  --color-border-line: #E2E6EA;
  --color-button-backgroud: #fafefd;
  --color-background-footer: var(--footer-gradiente);
  --card-border-radius: 8px;
  --color-light: rgba(132, 139, 200, 0.1);
  --box-shadow: 0 0.5rem 1rem var(--color-light);
  --line-box-shadow: 0 0.8rem 2rem var(--color-dark);
  --box-shadow-hover: 0 0rem 1.5rem var(--color-light);

  /* Gradiente Colors */
  --color-text-black: #000;
  --color-text-white: #fff;
  --color-text-black-light: #666666;
  --color-text-dark-light: #8F8F8F;
  --color-text-dark-medium: #6D6D6D;
  --text-gradient-dark: linear-gradient(-85deg, var(--color-text-black), var(--color-text-black-light));
  --text-gradient-dark-light: linear-gradient(-90deg, var(--color-text-dark-light), var(--color-text-dark-medium));

  --color-text-title-primary: #BF59ED;
  --color-text-title-secondary: #BF59ED;
  --title-gradiente: linear-gradient(0deg, var(--color-text-title-primary), var(--color-text-title-secondary));

  --color-background-footer-primary: #F2F3FF;
  --color-background-footer-secondary: #CCCDD7; 
  --footer-gradiente: linear-gradient(98deg, var(--color-background-footer-primary), var(--color-background-footer-secondary));
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-text-black);
    box-sizing: border-box;
}

body{ background: var(--color-background); }

main{
    display: flex;
    flex-direction: column;
    padding: 60px 25%;
}

h2{
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 6px;
}

h3{
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text-black);
  margin-bottom: 8px;
}

h4{
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text-black-light);
  margin-bottom: 8px;
}

.title{
  margin-bottom: 50px;
}

section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  width: 800px;
  height: 260px;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: background 1s ease, box-shadow 1s ease;
}

section:hover{
  background: var(--color-background);
  box-shadow: var(--box-shadow);
}

section .topics{
  padding: 10px 60px;
}

section ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section ul li a,
section ul li{
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text-black);
  text-decoration: none;
  transition: font-size 0.2s ease, color 1s ease;
}

section ul li a:hover{
  font-size: 16px;
  color: var(--color-primary);
}

.line{
  width: 84%;
  border: 1px solid var(--color-border-line);
  box-shadow: var(--box-shadow);
  margin-bottom: 20px;
}